	.active {
		background-color: rgba(34, 36, 38, 0.15);
		color: red;
		border-radius: 5%;
	}
	.myMenu {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		border: 1px solid rgba(34, 36, 38, 0.15);
		height: 50px;
		background-color: rgba(34,36,38, 0.05);
	}

	.myMenu ng-transclude {
		display:block;
		height: 100%;
		vertical-align: middle;
	}

	.menuTable {
		display:inline-flex;
		height: 100%;
		vertical-align: middle;
	}

	.menuItem:hover {
		background-color: rgba(34, 36, 38, 0.15);
	}

	.menuItem{
		padding-right: 10px;
	    padding-left: 10px;
	    text-transform: uppercase;
	    height: 50px;
	    display: inline-block;
	    line-height: 50px;
	}
