	.active {
		background-color: red;
	}
	.myMenu {
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		background-color: cornflowerblue;
		height: 50px;
	}
	
	.myMenu in2-menu-item {
		padding-right: 10px;
	    padding-left: 10px;
	    text-transform: uppercase;
	    font-weight: 700;
	    height: 50px;
	    display: inline-block;
	    line-height: 50px;
	}

	.myMenu ng-transclude {
		display:block;
		height: 100%;
		vertical-align: middle;
	}

	.menuTable {
		display:inline-flex;
		height: 100%;
		vertical-align: middle;
	}

	.menuItem:hover {
		background-color: yellow;
	}

	.menuItem{
		padding-right: 10px;
	    padding-left: 10px;
	    text-transform: uppercase;
	    font-weight: 700;
	    height: 50px;
	    display: inline-block;
	    line-height: 50px;
	}
